@model Product

@{
    Layout = null;
}

<h2>LoadSadrzaj</h2>

<div id="produkt">
    <table>
        <tr>
            <td>id</td>
            <td>@Model.id
            <td />
        </tr>
        <tr>
            <td>ime</td>
            <td>@Model.name
            <td />
        </tr>
        <tr>
            <td>cena</td>
            <td>@Model.price
            <td />
        </tr>

    </table>
</div>
