@model SOV2_Priprema.Models.User
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div>
            @ViewBag.Message
        </div>
        
        <form action="Register" method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="number" name="age" /></td>
                </tr>
                <tr>
                    <td>Role:</td>
                    <td>
                        <input list="roles" name="role" />
                        <datalist id="roles">
                            <option value="ADMINISTRATOR"></option>
                            <option value="MODERATOR"></option>
                            <option value="GUEST"></option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>
